@model myhw.Models.MessageDataModel

@{
    ViewBag.Title = "Create Message";
}

<h2>Create Message</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label for="UserName">Name:</label>
        @Html.TextBoxFor(model => model.UserName)
    </div>

    <div>
        <label for="Content">Content:</label>
        @Html.TextAreaFor(model => model.Content)
    </div>

    <button type="submit">Create Message</button>
}

<p>@Html.ActionLink("Back to Messages", "Front")</p>
